body {
    margin-right: 0em;
    margin-left: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 1em;
}

header,footer{
    grid-column-start: 1;
    grid-column-end: 13;
}
aside{
    grid-column-start: 8;
    grid-column-end: 13;
}

main{
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
}