html{
    font-family:Arial, Helvetica, sans-serif;
}
body {
    color: #e6e6e6;
    background-color: #171717;
}

.nav-bar {
    background-color: black;
}

.header-score-board {
    background-color: #091f2c;
}

a {
    color: lightblue;
}

.btn {
    letter-spacing: 2px;
    border-radius: 5em;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    border: 0px solid transparent;
    padding: .5rem .75rem;
    background: linear-gradient(8deg, rgba(255,255,255,0.1) 0%, rgba(0,0,0,.4) 100%);
    text-transform: uppercase;
    text-decoration: none;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}


    .btn:not(:disabled):not(.disabled):hover {
        background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
    }

.btn-75w {
    width: 75px;
}

.btn-150w {
    width: 150px;
}

.btn-primary {
    background-color: darkblue !important;
    color: aliceblue;
}

.btn-edit {
    background-color: #2A5D40 !important;
    color: aliceblue;
}

.btn-delete {
    background-color: #820808 !important;
    color: aliceblue;
}
