html{
    font-family:Arial, Helvetica, sans-serif;
}
body {
    color: #e6e6e6;
    background-color: #171717;
}

.nav-bar {
    background-color: black;
}

.header-score-board {
    background-color: #091f2c;
}

a {
    color: lightblue;
}

.btn {
    letter-spacing: 2px;
    border-radius: 5em;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    border: 0px solid transparent;
    padding: .5rem .75rem;
    background: linear-gradient(8deg, rgba(255,255,255,0.1) 0%, rgba(0,0,0,.4) 100%);
    text-transform: uppercase;
    text-decoration: none;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}


    .btn:not(:disabled):not(.disabled):hover {
        background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
    }

.btn-75w {
    width: 75px;
}

.btn-150w {
    width: 150px;
}

.btn-primary {
    background-color: darkblue !important;
    color: aliceblue;
}

.btn-edit {
    background-color: #2A5D40 !important;
    color: aliceblue;
}

.btn-delete {
    background-color: #820808 !important;
    color: aliceblue;
}

.modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal-dialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-dialog > div {
    width: 400px;
    min-height:500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: black;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}


.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

    .close:hover {
        background: #00d9ff;
    }
