@page "/teams/index";

<h3>Teams</h3>

<MudPaper Elevation="3" Square="false" Class="px-4 py-4">
    <MudTable Items="teams" Striped="true" Bordered="true" Hover="true" Dense="true">
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Country</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="CountryName">@context.Country?.Name</MudTd>
            <MudTd>
                <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="(() => EditTeam(context.Id.Value))">Edit</MudButton>
                <MudButton Variant="Variant.Text" Color="Color.Error" OnClick="(() => DeleteTeam(context.Id.Value))">Delete</MudButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
</MudPaper>
