@using HtmxTestApp.Shared.Entities;
@model Team


<form asp-page="@(Model.Id is null ? "/Teams/Add" : "/Teams/Edit")" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <button class="btn @(Model.Id is null ? "btn-primary" : "btn-edit") btn-75w" type="submit">@(Model.Id is null ? "Add" : "Edit")</button>
</form>