@page "/teams"
@using HtmxTestApp.Domain.Services.Contracts
@using HtmxTestApp.Shared.Entities
@using Microsoft.AspNetCore.Components.QuickGrid
@inject ITeamService TeamService

<h3>Teams</h3>
<div class="mb-3">
    <a class="btn btn-primary" href="/teamform">Add Team</a>
    <form method="post" data-enhance="true" @onsubmit=@(() => ShowAddTeamDialog()) @formname="TeamDialog">
        <AntiforgeryToken></AntiforgeryToken>
         <button class="btn btn-secondary">Add Team by Dialog</button>
    </form>
</div>
<TeamList></TeamList>




@code {

}
