@page "/teams"
@using HtmxTestApp.Domain.Services.Contracts
@using HtmxTestApp.Shared.Entities
@using Microsoft.AspNetCore.Components.QuickGrid
@inject ITeamService TeamService

<h3>Teams</h3>
<div class="mb-3">
    <a class="btn btn-primary" href="/teamform">Add Team</a>
    <form method="post" data-enhance="true" @onsubmit=@(() => ShowAddTeamDialog()) @formname="TeamDialog">
        <AntiforgeryToken></AntiforgeryToken>
         <button class="btn btn-secondary">Add Team by Dialog</button>
    </form>
</div>
<TeamList @rendermode="InteractiveWebAssembly"></TeamList>

@if (isDialogVisible)
{
    <div class="modal-backdrop">
        <div class="modal">
            <div class="modal-header">
                <h5 class="modal-title">Add Team</h5>
                <button type="button" class="close" @onclick="CloseDialog">&times;</button>
            </div>
            <div class="modal-body">
                <TeamForm OnSave="OnTeamAdded" OnCancel="CloseDialog" SubmitButtonText="Add" />
            </div>
        </div>
    </div>
}
else
{
    <form @formname="TeamForm"></form>
}

@code {
    private IQueryable<Team> teams;
    private bool isDialogVisible = false;

    private void ShowAddTeamDialog()
    {
        isDialogVisible = true;
    }

    private void OnTeamAdded()
    {
        isDialogVisible = false;
    }

    private void CloseDialog()
    {
        isDialogVisible = false;
    }
}
