@page "/teams"
@using HtmxTestApp.Blazor.Helpers
@using HtmxTestApp.Domain.Services.Contracts
@using HtmxTestApp.Shared.Entities
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.AspNetCore.Components.Web.HtmlRendering
@inject ITeamService TeamService
@inject BlazorRenderer BlazorRenderer
@inject IHttpContextAccessor HttpContextAccessor

<h3>Teams</h3>
<div class="mb-3">
    <a class="btn btn-primary" href="/teamform">Add Team</a>
    <DialogButton HTMLContent="@dialogHtmlContent" />
</div>
<TeamList @ref="teamList"></TeamList>
<form method="post" data-enhance @formname="TeamForm" @onsubmit="HandleValidSubmit">
</form>

@code {
    private DialogButton dialogButton;
    private TeamList teamList;
    string dialogHtmlContent = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        dialogHtmlContent = await BlazorRenderer.RenderComponent<TeamForm>();
    }

    private async Task Save()
    {
        await teamList.LoadTeams();
    }

    private void Cancel()
    {
    }

    public async Task HandleValidSubmit()
    {
        var form = HttpContextAccessor.HttpContext.Request.Form;
        Console.WriteLine("test");
    }
}