@page
@using HtmxTestApp.Shared.Entities;
@model HtmxTestApp.Pages.Teams.IndexModel


<h4>Teams</h4>
<hr />
<vc:teams-table teams="@Model.Teams"></vc:teams-table>
<a asp-page="/Teams/Add">Add Team</a>
