@page
@using HtmxTestApp.Shared.Entities;
@model HtmxTestApp.Pages.Teams.IndexModel


<h4>Teams</h4>
<hr />
<table cellpadding="0" cellspacing="0">
    @foreach (Team team in Model.Teams)
    {
        <tr>
            <td>@team.Name</td>
            <td>Edit | Delete</td>
        </tr>
    }
    <a asp-page="/Teams/Add">Add Team</a>
</table>
