@page
@using HtmxTestApp.Pages.Shared.Components.FormDialog;
@using HtmxTestApp.Shared.Entities;
@model HtmxTestApp.Pages.Teams.IndexModel


<h4>Teams</h4>
<hr />
<vc:teams-table teams="@Model.Teams"></vc:teams-table>
<br/>
<a asp-page="/Teams/Add" type="button" class="btn btn-primary btn-150w">Add Team</a>
<a href="#addDialog" type="button" class="btn btn-primary btn-150w">Add with Dialog</a>

<vc:form-dialog model="@(new DialogOptionsModel(){ElementId="addDialog", ComponentName="TeamsForm"})"></vc:form-dialog>
