@rendermode InteractiveWebAssembly
<button class="btn btn-primary" @onclick="OpenDialog">Open Dialog</button>

@if (IsDialogOpen)
{
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    @(new MarkupString(HTMLContent))
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="CloseDialog">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string HTMLContent { get; set; }

    private bool IsDialogOpen { get; set; }

    public void OpenDialog()
    {
        IsDialogOpen = true;
    }

    public void CloseDialog()
    {
        IsDialogOpen = false;
    }
}